<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>jQuery_Ajax_Request</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Get Information about a Champion - jQuery Ajax Request</description>
    <display-name>ChampionInfo</display-name>
    <servlet-name>ChampionInfo</servlet-name>
    <servlet-class>lol.ChampionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChampionInfo</servlet-name>
    <url-pattern>/ChampionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get List of Champion Names - jQuery Ajax Request</description>
    <display-name>ChampionNames</display-name>
    <servlet-name>ChampionNames</servlet-name>
    <servlet-class>lol.ChampionNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChampionNames</servlet-name>
    <url-pattern>/ChampionNames</url-pattern>
  </servlet-mapping>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>